{% extends "layout.html" %}

  {% block title %}Dictionary{% endblock title %}

{% block content %}



<div style="text-align:center; background-color: #c5efff; border-radius: 25px 25px 20px 20px;">
  <br>

      <h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive;"><u>Contact</u></h1>
    <br>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScOKT7nkw7_6NhZJ7h87vw0TbJTVG-Dv3TOHBRpB99SgTqYgg/viewform?embedded=true" width= "640" height="1300" frameborder="0" marginheight="0" marginwidth="0">Φόρτωση…</iframe>

</div>

{% endblock content %}