{% extends "layout.html" %}

  {% block title %}Dictionary{% endblock title %}

{% block content %}

<br>

    <h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive;"><u>Dictionary</u></h1>
    <br>

<div style="padding-left: 5%; padding-right: 5%;">
<br>
<h1 style="text-align:center;font-family: 'Times New Roman'; color: darkred;">Alphabet</h1>
<br>
  <table class="table table-bordered border-secondary" style="text-align:center; font-size:160%; font-family: 'Indie Flower';">
  <thead>
    <tr>

      <th scope="col">Letters</th>
      <th scope="col">Morse Code</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>.-</td>
    </tr>
    <tr>
      <td>B</td>
      <td>-...</td>
    </tr>
    <tr>
      <td>C</td>
      <td>-.-.</td>
    </tr>
    <tr>
      <td>D</td>
      <td>-..</td>
    </tr>
    <tr>
      <td>E</td>
      <td>.</td>
    </tr>
    <tr>
      <td>F</td>
      <td>..-.</td>
    </tr>
    <tr>
      <td>G</td>
      <td>--.</td>
    </tr>
    <tr>
      <td>H</td>
      <td>....</td>
    </tr>
    <tr>
      <td>I</td>
      <td>..</td>
    </tr>
    <tr>
      <td>J</td>
      <td>.---</td>
    </tr>
    <tr>
      <td>K</td>
      <td>-.-</td>
    </tr>
    <tr>
      <td>L</td>
      <td>.-..</td>
    </tr>
    <tr>
      <td>M</td>
      <td>--</td>
    </tr>
    <tr>
      <td>N</td>
      <td>-.</td>
    </tr>
    <tr>
      <td>O</td>
      <td>---</td>
    </tr>
    <tr>
      <td>P</td>
      <td>.--.</td>
    </tr>
    <tr>
      <td>Q</td>
      <td>--.-</td>
    </tr>
    <tr>
      <td>R</td>
      <td>.-.</td>
    </tr>
    <tr>
      <td>S</td>
      <td>...</td>
    </tr>
    <tr>
      <td>T</td>
      <td>-</td>
    </tr>
    <tr>
      <td>U</td>
      <td>..-</td>
    </tr>
    <tr>
      <td>V</td>
      <td>...-</td>
    </tr>
    <tr>
      <td>W</td>
      <td>.--</td>
    </tr>
    <tr>
      <td>X</td>
      <td>----</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>-.--</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>--..</td>
    </tr>

  </tbody>
</table>

<br>
<h1 style="text-align:center;font-family: 'Times New Roman'; color: darkgreen;">Numbers</h1>
<br>
  <table class="table table-bordered border-secondary" style="text-align:center; font-size:160%; font-family: 'Indie Flower';">
  <thead>
    <tr>
      <th scope="col">Numbers</th>
      <th scope="col">Morse Code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>.----</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>..---</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>...--</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>....-</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>.....</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>-....</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>--...</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>---..</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>----.</td>
    </tr>
    <tr>
      <th scope="row">0</th>
      <td>-----</td>
    </tr>
    
  </tbody>
</table>


<br>
<h1 style="text-align:center;font-family: 'Times New Roman'; color: darkorange;">Punctuation Marks</h1>
<br>
  <table class="table table-bordered border-secondary" style="text-align:center; font-size:160%; font-family: 'Indie Flower';">
  <thead>
    <tr>
      <th scope="col">Marks</th>
      <th scope="col">Morse Code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">.</th>
      <td>.-.-.-</td>
    </tr>
    <tr>
      <th scope="row">;</th>
      <td>-.-.-.</td>
    </tr>
    <tr>
      <th scope="row">,</th>
      <td>--..--</td>
    </tr>
    <tr>
      <th scope="row">?</th>
      <td>..--..</td>
    </tr>
    <tr>
      <th scope="row">'</th>
      <td>.----.</td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>-....-</td>
    </tr>
    <tr>
      <th scope="row">!</th>
      <td>-.-.--</td>
    </tr>
    <tr>
      <th scope="row">(</th>
      <td>-.--.</td>
    </tr>
    <tr>
      <th scope="row">)</th>
      <td>-.--.-</td>
    </tr>
    <tr>
      <th scope="row">&</th>
      <td>.-...</td>
    </tr>
    <tr>
      <th scope="row">:</th>
      <td>---...</td>
    </tr>
    <tr>
      <th scope="row">=</th>
      <td>-...-</td>
    </tr>
    <tr>
      <th scope="row">+</th>
      <td>.-.-.</td>
    </tr>
    <tr>
      <th scope="row">_</th>
      <td>..--.-</td>
    </tr>
    <tr>
      <th scope="row">$</th>
      <td>...-..-</td>
    </tr>
    <tr>
      <th scope="row">@</th>
      <td>.--.-.</td>
    </tr>
    
  </tbody>
</table>
<br>

</div>





{% endblock content %}