{% extends "layout.html" %}

  {% block title %}Lesson 6 - Punctuation marks{% endblock title %}

{% block content %}

<br>

    <h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive;"><u>Lesson 6</u></h1>
    <br>

<div style="padding-left: 5%; padding-right: 5%;">
    <h6>Your progress:  80%</h6>
    <div class="progress" >
     <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
    </div>

 
    <hr>
  <ul class="pagination justify-content-center" >
    <li class="page-item" >
      <a class="page-link" href="/lessons/5/">Back</a>
    </li>
    <li class="page-item"><a class="page-link" href="/exercise/1/">...</a></li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/lessons/4/">L4</a>
    </li>
    <li class="page-item"><a class="page-link" href="/lessons/5/">L5</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="/lessons/6/">L6</a>
    </li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/exercise/2/">Ex.2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/exercise/2/">Next</a>
    </li>
  </ul>
<hr>
<br>


<h3 style="text-align:center;">Punctuation marks</h3>
<br>

<p>&nbsp;&nbsp;&nbsp;We have come to the last lesson which is punctuation marks in Morse code. This lesson is a bit difficult because there is no pattern to remember. But we will try to make you remember them with some methods. Let's look at the first 6 punctuation marks...</p>



<table class="table table-warning" style="text-align:center; font-size:180%; ">

  <tbody>
    <tr style="color: red;">
      <th scope="row">&nbsp;&nbsp;&nbsp;.</th>
      <th>.-.-.-</th>
    </tr>
    <tr style="color: red;">
      <th scope="row">&nbsp;&nbsp;&nbsp;;</th>
      <th>-.-.-.</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;,</th>
      <th>--..--</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;?</th>
      <th>..--..</th>
    </tr>
    <tr style="color: green;">
      <th scope="row">&nbsp;&nbsp;&nbsp;'</th>
      <th>.----.</th>
    </tr>
    <tr style="color: green;">
      <th scope="row">&nbsp;&nbsp;&nbsp;-</th>
      <th>-....-</th>
    </tr>
  </tbody>
</table>




<p>&nbsp;&nbsp;&nbsp;As you will notice we have divided these 6 punctuation marks into 3 pairs (red, blue, green) and each color group has two symbols of which the codes are upside down. For the remaining 10 punctuation marks, unfortunately, there is no memorization method. You should try to learn them as they are. Here is the table...

</p>
<br>
<table class="table table-warning" style="text-align:center; font-size:180%; ">

  <tbody>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;!</th>
      <th>-.-.--</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;(</th>
      <th>-.--.</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;)</th>
      <th>-.--.-</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;&</th>
      <th>.-...</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;:</th>
      <th>---...</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;=</th>
      <th>-...-</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;+</th>
      <th>.-.-.</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;_</th>
      <th>..--.-</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;$</th>
      <th>...-..-</th>
    </tr>
    <tr style="color: darkblue;">
      <th scope="row">&nbsp;&nbsp;&nbsp;@</th>
      <th>.--.-.</th>
    </tr>
  </tbody>
</table>
<br>



    <hr>
  <ul class="pagination justify-content-center" >
      <a class="page-link" href="/lessons/5/">Back</a>
    <li class="page-item">
      <a class="page-link" href="/exercise/2//">Next</a>
    </li>
  </ul>
  <hr>
<br>


</div>





{% endblock content %}