{% extends "layout.html" %}

  {% block title %}Lesson 5 - Syntax and audio transmission.{% endblock title %}

{% block content %}

<br>

    <h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive;"><u>Lesson 5</u></h1>
    <br>

<div style="padding-left: 5%; padding-right: 5%;">
    <h6>Your progress:  68%</h6>
    <div class="progress" >
     <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 68%"></div>
    </div>

 
    <hr>
  <ul class="pagination justify-content-center" >
    <li class="page-item" >
      <a class="page-link" href="/lessons/4/">Back</a>
    </li>
    <li class="page-item"><a class="page-link" href="/exercise/1/">...</a></li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/lessons/4/">L4</a>
    </li>
    <li class="page-item active"><a class="page-link" href="/lessons/5/">L5</a></li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/lessons/6/">L6</a>
    </li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/exercise/2/">Ex.2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/lessons/6/">Next</a>
    </li>
  </ul>
<hr>
<br>


<h3 style="text-align:center;">Syntax and audio transmission.</h3>
<br>

<p>&nbsp;&nbsp;&nbsp;It's time to learn how to write words and sentences in morse code. We may have learned the alphabet and numbers by now, but we don't know how to use them. In this lesson we will see how we can write morse code in writing as well as audio.</p>
<p>&nbsp;&nbsp;&nbsp;In fact, the written way is not completely defined. Many use a small space to separate letters and a larger one to separate words. Some other separators prefer to separate words with a slash.  </p>
<br>

<h2 style="text-align:center; color: red;"><i>Example 1:</i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.-&nbsp;&nbsp;-...&nbsp;&nbsp;-.-.&nbsp;&nbsp;&nbsp;&nbsp;-..&nbsp;&nbsp;.</b></h2>
<h2 style="text-align:center; color:orange;"><i>Example 2:</i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.-&nbsp;&nbsp;-...&nbsp;&nbsp;-.-.&nbsp;&nbsp;/&nbsp;&nbsp; ..&nbsp;&nbsp;.</b></h2>
<h2 style="text-align:center; color:green;"><i>Example 3:</i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.- / -... / -.-. / / -.. / .</b></h2>

<br>
<p>&nbsp;&nbsp;&nbsp;We will follow the third way which is to separate the letters with one slash and the words with two. We prefer this way because it is clearer to read and it is certain that we will not make a mistake.</p>
<br>

<h2 style="text-align:center;">Oral way</h2>
<br>
<p>&nbsp;&nbsp;&nbsp;Morse signals can also be transmitted orally. This can be done mainly in the following ways: audibly (telegraph or knocks), by light, (using a torch or fire) and by a flag or two flags.Take a look at the table below to see how long each symbol is transmitted...</p>

<table class="table table-info" style="text-align:center; font-size:120%; ">

  <tbody>
    <tr>
      <th scope="row">&nbsp;&nbsp;&nbsp;Character</th>
      <th>Duration</th>
    </tr>
    <tr>
      <td scope="row">&nbsp;&nbsp;&nbsp;Dot (.)</td>
      <td>one short knock</td>
    </tr>
    <tr>
      <td scope="row">&nbsp;&nbsp;&nbsp;Dash (-)</td>
      <td>three times the duration of dot</td>
    </tr>
    <tr>
      <td scope="row">&nbsp;&nbsp;&nbsp;Letter space</td>
      <td>1 second</td>
    </tr>
    <tr>
      <td scope="row">&nbsp;&nbsp;&nbsp;Word Space</td>
      <td>3 seconds</td>
    </tr>

  </tbody>
</table>

<br>
<p>Let's give an example in writting:&nbsp;&nbsp;&nbsp;<b><i>diiit diiit diiit (1 second pause) diiit dit (1 second pause) dit (3 seconds pause) dit diiit diiit diiit diiit</i></b>
</p>



<br>

<p>The word is: ONE 1</p>
    <hr>
  <ul class="pagination justify-content-center" >
      <a class="page-link" href="/lessons/4/">Back</a>
    <li class="page-item">
      <a class="page-link" href="/lessons/6/">Next</a>
    </li>
  </ul>
  <hr>
<br>


</div>





{% endblock content %}