{% extends "layout.html" %}

  {% block title %}Lesson 2 - The upside down symbols{% endblock title %}

{% block content %}

<br>

    <h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive;"><u>Lesson 2</u></h1>
    <br>

<div style="padding-left: 5%; padding-right: 5%;">
    <h6>Your progress:  12%</h6>
    <div class="progress" >
     <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 12%"></div>
    </div>

 
    <hr>
  <ul class="pagination justify-content-center" >
    <li class="page-item" >
      <a class="page-link" href="/lessons/1/">Back</a>
    </li>
    <li class="page-item"><a class="page-link" href="/lessons/1/">L1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="/lessons/2/">L2</a>
    </li>
    <li class="page-item"><a class="page-link" href="/lessons/3/">L3</a></li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/exercise/1/">Ex.1</a>
    </li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="/lessons/4/">...</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/lessons/3/">Next</a>
    </li>
  </ul>
<hr>
<br>


<h3 style="text-align:center;">The upside down symbols.</h3>
<br>

<p>There are some symbols that if we read them upside down another letter is formed. For example (.-) and (-.). Dividing them into this category helps us to memorize them more easily because if we do not remember a letter and we remember its couple we can find out it. So let's look at the pairs we have:</p>

<br>



<table class="table table table-hover" style="text-align: center; color:#008080;">
  <tbody>
    <tr>
      <th>A</th>
      <th>N</th>
    </tr>

    <tr>
      <th>B</th>
      <th>V</th>
    </tr>

    <tr>
      <th>D</th>
      <th>U</th>
    </tr>

    <tr>
      <th>F</th>
      <th>L</th>
    </tr>
    <tr>
      <th>G</th>
      <th>W</th>
    </tr>
    <tr>
      <th>Q</th>
      <th>Y</th>
    </tr>




  </tbody>
</table>
<br>

<p>So if we know that (A) is (.-) we can find what symbol is (N) that obviously is (-.). Let’s look the following table:</p>

<br>

<table class="table table table-hover" style="text-align: center; color:#008080;">
  <thead>
    <tr>
      <th>PAIR</th>
      <th>LETTER 1</th>
      <th>SYMBOL 1</th>
      <th>LETTER 2</th>
      <th>SYMBOL 2</th>
    </tr>
    
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>A</th>
      <th>. -</th>
      <th>N</th>
      <th>- .</th>
    </tr>

    <tr>
      <th>2</th>
      <th>B</th>
      <th>- . . .</th>
      <th>V</th>
      <th>. . . -</th>
    </tr>

    <tr>
      <th>3</th>
      <th>D</th>
      <th>- . .</th>
      <th>U</th>
      <th>. . -</th>
    </tr>


    <tr>
      <th>4</th>
      <th>F</th>
      <th>. . - .</th>
      <th>L</th>
      <th>. - . .</th>
    </tr>


    <tr>
      <th>5</th>
      <th>G</th>
      <th>- - .</th>
      <th>W</th>
      <th>. - -</th>
    </tr>


    <tr>
      <th>6</th>
      <th>Q</th>
      <th>- - . -</th>
      <th>Y</th>
      <th>- . - -</th>
    </tr>

  </tbody>
</table>
<br>
    <hr>
  <ul class="pagination justify-content-center" >
      <a class="page-link" href="/lessons/1/">Back</a>
    <li class="page-item">
      <a class="page-link" href="/lessons/3/">Next</a>
    </li>
  </ul>
  <hr>
<br>


</div>





{% endblock content %}