{% extends "layout.html" %}

	{% block title %}Hard Training{% endblock title %}

{% block content %}


<div class="d-flex justify-content-center">
	<div style="width: 100%; padding-left: 3%; padding-right: 3%; padding-top: 4%;">
		<h1 class="font-weight-bold" style="text-align:center; font-size: 300%; font-family: 'Ribeye Marrow', cursive; color: #b3000b;">Training <b><u >HARD</u></b></h1>
		<hr>

		<div style="background: linear-gradient(130deg, #a4f400 30%, #d5ff7f 45%); margin-bottom: 3%; border-radius: 15px 50px; text-align: center;">
			<br>
			<br>

			<h1 style="font-size:1000%; color: #e10000;">&#10060;</h1>
			<br>
			<h1 style="font-size:300%; color: #e10000; font-family:Indie Flower;"><b>Mistake!</b></h1>
			<br>
			<a href="/training/hard/"><button type="button" class="btn btn-danger"style="font-size:200%; font-family: 'Indie Flower';', cursive;">&#10226; Try an other word...</button></a>
			<br>
			<br>
			<br>
		</div>
	</h1>
	<br>
	<br>
	<p style="text-align:center;">Powered by: © MorseCodeLearn</p>
	</div>
</div>





		  

{% endblock content %}